.root-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-limit {
  background-color: rgb(233, 5, 5);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease;
}
.btn-limit:hover {
  background-color: darkred;
}
